<div class="col-12" id="main" role="main">
    <h2 style="color: #224B9E;">关于我</h2>
    <%- page.content %> 
    <h2 style="color: #224B9E;">历程</h2>
    <img src = "/images/about/my_desc.jpg" style="width: 100%; box-shadow:0 0 50px 30px #ffffff inset;">
    <h2 style="color: #224B9E;">联系方式</h2>
    <div class = "mcontact">
        <p>
        <span class="mcontact-num">1</span> 微信 <img src="/images/common/wechat.png"> : 
        <span>Mel0nkid</span></p>
    </div>
    <div class = "mcontact">
        <span class="mcontact-num">1</span> 邮件 <img src="/images/common/email.png"> : 
        <a style = "text-decoration: none" href="mailto:iworkvip@gmail.com">iworkvip@gmail.com</a>
    </div>

</div>

<style>
.mcontact {
    margin-bottom:10px;
    }
.mcontact .mcontact-num{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #244c9e;
    color: #fff;
    margin-top: 2%;
}
.mcontact img{
    height: 2em;
    vertical-align: middle;
}
.mcontact span{
    color: #244c9e;
}
</style>
   