<footer id="footer" role="contentinfo">
    <% if (theme.footer.ICP.enable) { %>
        Copyright &copy; <%= theme.footer.owner.since %> - <%= date(Date.now(), "YYYY" ) %>
        <a rel="nofollow" href="http://beian.miit.gov.cn"> <%= theme.footer.ICP.text %>  </a>
        <br />
    <% } %>
    <%= theme.footer.custom_text %>
    <br />
</footer>