<div class="social-share share-block" data-initialized="true">
    <a href="#" class="social-share-icon icon-wechat"></a>
    <a href="#" class="social-share-icon icon-weibo"></a>
    <a href="#" class="social-share-icon icon-facebook"></a>
    <a href="#" class="social-share-icon icon-qzone"></a>
</div>
<%- css("https://cdn.bootcdn.net/ajax/libs/social-share.js/1.0.16/css/share.min.css") %>
<%- js('https://cdn.jsdelivr.net/npm/social-share.js@1/dist/js/social-share.min.js') %>