<div id="sidebar" role="complementary">
    <section class="widget">
        <ul class="menu widget-list">
            <% for (name in theme.menu) { %>
                <li class="menu-item">
                    <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link">
                        <%= name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </section>
    <section class="widget sidebar-foot">
        <ul class="widget-list">
            <li><%- __('powered_by') %></li>
            <li><a rel="nofollow" target="_blank" href="/"><%= config.author %></a></li>
            <li>
                <p>
                    <a rel="nofollow" target="_blank" href="mailto:iworkvip@gmail.com"><img src="/images/common/email.png"  style="width: 1.5em;"/></a>
                    <a rel="nofollow" target="_blank" href="https://github.com/imelonkid"><img src="/images/common/github.png"  style="width: 1.5em;"/></a>
                </p>
            </li>
        </ul>
    </section>
</div>