<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>

<script src="<%= (theme.Valine_url) %>"></script>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'kVnoh5GMJIaO7wfioxy7eqat-gzGzoHsz',
        appKey: 'OqRohOLiM36VuNLF5jjAJkap',
        avatar:'mp' // (''/mp/identicon/monsterid/wavatar/robohash/retro)
    })
</script>